.b{
    margin: 0;
    padding: 1px;
    font-family: Tahoma;
    text-align: left;
    background-color:aliceblue;
  
}
.nav-container {
    background: #981E32;
    font-family: Tahoma;
    font-size: 12px;
    color: #981E32; 
    height: 32px;
    text-transform: uppercase;
}
a:hover {
    color:#2387D9;
}

.button {
    width : 180px;
    padding : 1px;    
    font-size: 20px;
    margin: 3px;
    padding: 2px;
    background-color: #981E32;
    color: white; 
    border:2px solid white;
}
.button:hover {
    background-color: 157dd3;
    color: white;
}

.posttable { 
    width : 100%;
    margin: 0px;
}

.posttitle {
    text-align: center;
    font-weight: bold;
    background-color:aliceblue;
    color: black;
    font-size: 16px;
    padding : 5px; 
    border:2px solid black;

}
.postmessage {
    text-align: left;
    font-weight: bold;
    color: Black;
    font-size: 16px;
    padding : 5px; 
    margin : 10px;
}
.flash-container {
    background-color:#981E32;
    color: black;
    width : 100%;
    font-weight: bold;
    padding : 5px;    
    font-size: 16px;
    margin : 5px;
    height: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.likecount{
    text-align: center;
    font-weight: bold;
}
.textinput{
    color: Black;
    width : 50%;
    font-size: 16px;
    padding : .1%; 
    margin : .1%;
    height : 5%; 
    border: 2px solid black;
    border-radius: 4px;
    background-color:ghostwhite;
}
.formbody{
    color: Black;
    width : 50%;
    font-size: 16px;
    padding : .1%; 
    margin : .1%;
    height : 15%; 
    border: 2px solid black;
    border-radius: 4px;
    background-color:ghostwhite;
    
}
.formselect{
    color: Black;
    width : 25%;
    font-size: 16px;
    padding : .1%; 
    margin : .1%;
    height : 5%; 
    border: 2px solid black;
    border-radius: 4px;
    background-color:ghostwhite;
}   
.postlist{
    display : flex; 
    flex-wrap: wrap;
}
.post-box{
    display : flex; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: aliceblue;
    padding : .1%; 
    margin : .3%;
    width : 25%;
    border:2px solid black;
}

.tagitem{
    margin:.3%; 
    padding:1%;
    color: white; 
    border:2px solid white;
    background-color: black;
    text-align: center; 
    font-size: 12px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }



@media screen and (max-width : 800px){
.post-box{
background-color:Navy;
width : 99%
}
}
@media screen and (min-width : 800px) and (max-width : 1200px){
.post-box{
background-color:darkblue;
width : 48%
}
}
@media screen and (min-width : 1200px){
.post-box{
background-color:slateblue;
width : 32%
}
}




