<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <body>
        <div class ="nav-container">
        <table class = "center">
            <tr>
                <td><a href="{{ url_for('menu') }}" class = "button">Menu</a></td>
                {%if current_user%}
                    {%if current_user.faculty == true %}
                    <td><a href="{{ url_for('logout') }}" class = "button"> Logout </a></td>
                    <td><a class>Faculty:</a></td>
                    {%elif current_user.faculty == false%}
                    <td><a href="{{ url_for('logout') }}" class = "button"> Logout </a></td>
                    <td><a class>Student:</a></td>
                    {%else%}
                    <td><a href="{{ url_for('login') }}" class = "button"> Login </a></td>
                    <td><a href="{{ url_for('orderdrink') }}" class = "button"> Order Drink </a></td>
                    <td><a href="{{ url_for('orderdish') }}" class = "button"> Order Dish </a></td>
                    <td><a href="{{ url_for('createdrink') }}" class = "button"> Create Drink </a></td>
                    <td><a href="{{ url_for('createdish') }}" class = "button"> Create Dish </a></td>
                    <td><a href="{{ url_for('createingredient') }}" class = "button"> Create Ingredient </a></td>

                    {%endif%}
                {%endif%}


            </tr>
        </table>
        </div>

        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class = "flashed">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            {% block content %} {% endblock %}
        </div>

    </body>
</html>