{% extends "base.html" %}

{% block content %}
    <h1 class = "center">Create Beverage</h1>
  
    <form class = "center" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p class = "center"> 
            {{ form.beverage.label }}<br>
            {{ form.beverage(class='textinput') }}<br>
            {% for error in form.beverage.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.ingredients.label }}<br>
            {{ form.ingredients}}
        </p>
        <p class = "center">
            {{ form.beverageCost.label }}<br>
            {{ form.beverageCost(class='textinput') }}<br>
            {% for error in form.beverageCost.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class = "center">
            {{ form.beverageSalesCost.label }}<br>
            {{ form.beverageSalesCost(class='textinput') }}<br>
            {% for error in form.beverageSalesCost.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class='button') }}</p>

    </form>
    
{% endblock %}