{% extends "base.html" %}

{% block content %}
    <h1 class = "center">Create Dish</h1>
  
    <form class = "center" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p class = "center">
            {{ form.dish.label }}<br>
            {{ form.dish(class='textinput') }}<br>
            {% for error in form.dish.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.ingredients.label }}<br>
            {{ form.ingredients}}
        </p>
        <p class = "center">
            {{ form.dishCost.label }}<br>
            {{ form.dishCost(class='textinput') }}<br>
            {% for error in form.dishCost.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            
        </p>
        <p class = "center">
            {{ form.dishSalesCost.label }}<br>
            {{ form.dishSalesCost(class='textinput') }}<br>
            {% for error in form.dishSalesCost.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            
        </p>
        <p>{{ form.submit(class='button') }}</p>

    </form>
    
{% endblock %}

