{% extends "base.html" %}

{% block content %}

    <h1 class = "center">Order a Dish</h1>
    <div class = postlist>
        {% for dish in dishes %}
        <div class = post-box>
            {% include '_dish.html' %} 
        </div>
        {% endfor %}
    </div>
    <div>
        <h1 class = center color = red>Ingredient Prices</h1>
        {% for ingredient in ingredients %}
            <div class = center>
                {{ingredient.name}}
                {{ingredient.salesPrice}}
            </div>
        {%endfor%}
    </div>

  {% endblock %}